<!DOCTYPE html>
<html>
    <head>
        <title>LUXJEWELS</title>
        <link rel="stylesheet" href="style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <nav>
                <div class="logo">Luxe Jewels</div>
                <div class="menu">
                    <div>Home</div>
                    <div>Catalog</div>
                    <div>Testimonials</div>
                    <button>Contact</button>
                </div>
            </nav>

            <!-- Section-1 -->
            <div class="section-1">
            <div class="right">
                <button>Premium Collection</button>
                <h1>Timeless Elegance in Every <span>Piece</span></h1>
                <p>Discover our exquisite collection of handcrafted jewelry. Each piece tells a story of luxury, elegance, and timeless beauty that will be treasured for generations.</p>
                <div class="btn-b">
                    <button>
                    Explore Collection
                </button>
                <button>
                    Learn More
                </button>
                </div>
            </div>
            <div class="left">
                <div class="images">
                    <img src="images/house.png" alt="JEWEL" height="100%" width="100%">
                </div>
            </div>
            </div>
            <div class="section-2">

            </div>
        </div>
    </body>
</html>